.aboutus-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* height: 100%; */
  margin-bottom: 0;
  margin-top: 30px;
}

.aboutus-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.text-container {
  flex: 1;
  /* padding-right: 2rem; */
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.aboutus-image {
  max-width: 100%;
  height: auto;
}

.text-aboutus,
.text-aboutus2,
.text-aboutus3,
.text-aboutus4 {
  line-height: 2;
  font-size: 20px;
}

.text-aboutus4 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 900;
}

.title-aboutus {
  font-size: 50px;
  margin-bottom: 20px;
  color: #f6c270;
  text-align: center;
}

.span-aboutus {
  color: #f6c270;
  font-weight: 900;
}

.em-aboutus {
  display: block;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .aboutus-container {
    flex-direction: column;
  }

  .text-container {
    padding: 0;
    margin-bottom: 2rem;
    text-align: center;
  }

  .image-container {
    padding: 0;
  }

  @media (max-width: 576px) {
 
    .aboutus-image {
    
      height: 400px;
    }
}
}