

.crsl-wrap::-webkit-scrollbar {
  display: none;
}
.crsl-card {
  width: 100%;
  padding: 30px;
  flex-shrink: 0;
  scroll-snap-align: center;
  border: 1px solid gray;
  border-radius: 20px;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 0.5;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

.crsl-card h1 {
  font-size: 1.5em;
  color: gray;
}
.crsl-card h2 {
  font-size: 1.1em;
}
.crsl-card h1,
.crsl-card h2 {
  font-family: Arial, Helvetica, sans-serif;
}
.size-auto {
  width: auto;
}

.mainer {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  gap: 20px;
}

@media all and (max-width: 680px) {
  .mainer {
    flex-direction: column;
    align-items: center;
  }
  .size-auto {
    width: 100px;
  }

  .crsl-wrap {
    max-width: 330px;
  }
}

.crsl-card.highlighted {
  opacity: 1;
  transform: scale(1);
}
